.catalog .product-thumb-info-content {
    padding: 5px;
}
.catalog .product-thumb-info-content .attr_url .def {
    flex-wrap: wrap;
}
.catalog .product-thumb-info-content .attr_url .def span {
    margin: 5px 5px 0 0;
    width: 26px;
    height: 26px;
}
.catalog .product-thumb-info-content .attr_url .def span:last-child {
    margin: 5px 0 0 0;
}
@media only screen and (min-width: 490px) {
    .product-thumb-info-image img {
        height: 100%;
        max-height: 250px;
        width: 100%;
        max-width: 200px;
    }
    .catalog .product-thumb-info-content {
        padding: 10px 5px 5px;
    }
}
