/* 843 удалить всю строку */
/* 764 удалить .custom-item, */

/* 504 удалить .custom-item, */
/* 503 удалить .custom-content, */
.custom-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.custom__item {
  flex: 0 0 auto;
  max-width: 100%;
  width: calc(50% - 5px);
}
.moduletableblock-2 .cat-description {
  padding: 10px 0;
}
.moduletableblock-2 .cat-item {
  padding: 0;
}
.custom__item.medium-up--one-quarter.animation > .cat-item {
  margin-bottom: 0;
}
.custom__item.medium-up--one-quarter.animation:not(:nth-child(2n)) {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 767px) {
  .custom__item.medium-up--one-quarter.animation:not(:nth-child(2n)) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .custom__item.medium-up--one-quarter.animation:not(:nth-child(4n)) {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 767px) {
  .medium-up--one-quarter {
    width: calc(25% - 7.5px);
  }
}
/* slider */
body.mobile .grid {
  margin: 0 auto;
}
  

/* Advantages */
@media only screen and (max-width: 1366px) {
  body.mobile .moduletableblock-3 ul li {
      justify-content: center;
      flex: initial;
  }
}
@media only screen and (max-width: 766px) {
  body.mobile .moduletableblock-3 ul li {
      flex: initial;
      justify-content: flex-start;
  }
  body.mobile .moduletableblock-3 ul {
    margin: 0 auto;
    flex-direction: column;
    width: fit-content;
  }
}
.moduletableblock-3 ul {
  margin: 0 0;
  justify-content: space-around;
}
.moduletableblock-3 ul li{
  flex: initial;
  min-width: min-content;
}

/* footer */
/* module3,4 заголовок заглавными и сделать в H4, либо убрать p и сделать как заголовок модуля */
@media only screen and (max-width: 768px) {
  .footer-block__item {
    width: 100%;
  }
  .sp-form {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .footer-block__item.medium-up--one-fifth:not(:first-child) {
    padding-left: 20px;
  }
}
.moduletablefooter-4 .list-inline {
  margin-left: 0px;
}




