/* 843 delete */
/* 764 delete .custom-item*/

/* 504 delete .custom-item */
/* 503 delete .custom-content*/
.custom-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.custom__item {
  flex: 0 0 auto;
  max-width: 100%;
  width: calc(50% - 5px);
}
.moduletableblock-2 .cat-description {
  padding: 10px 0;
}
.moduletableblock-2 .cat-item {
  padding: 0;
}
.custom__item.medium-up--one-quarter.animation > .cat-item {
  margin-bottom: 0;
}
.custom__item.medium-up--one-quarter.animation:not(:nth-child(2n)) {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 767px) {
  .custom__item.medium-up--one-quarter.animation:not(:nth-child(2n)) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .custom__item.medium-up--one-quarter.animation:not(:nth-child(4n)) {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 767px) {
  .medium-up--one-quarter {
    width: calc(25% - 7.5px);
  }
}

/* Advantages */
/* 163 delete flex */
.moduletableblock-3 ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.moduletableblock-3 ul li {
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .moduletableblock-3 ul {
    flex-direction: column;
  }
  .moduletableblock-3 {
    padding: 10px 0px;
  }
  .moduletableblock-3 ul li {
    align-self: center;
    width: calc(100% / 3);
    justify-content: flex-start;
  }
}

/* footer */
/* module3,4 to title to h4 */
@media only screen and (max-width: 768px) {
  .footer-block__item {
    width: 100%;
  }
  .sp-form {
    margin: 0 !important;
  }
}
/* slider */
@media only screen and (max-width: 1366px) {
  body.mobile .grid {
    margin: 0 auto;
  }
}
